@*  Index.cshtml
 *  Version: v1.1 (2023.03.11)
 *
 *  Contributor
 *      Arime-chan
*@

@page
@model IndexModel
@{
    Layout = "_LayoutCommon";
    ViewData["Title"] = "Trang chủ";
}

<hr />

<div class="text-center">
    <div class="d-flex align-items-center justify-content-center">
        <a asp-page="Home/Index" class="btn btn-secondary m-2" style="width: 50ch">
            <div style="font-size: larger">Dashboard</div>
            <div style="font-size: small">(Home/Index)</div>
        </a>
    </div>
</div>
