@*  Create.cshtml.cs
  *  Version: 1.0 (2022.09.09)
  *
  *  Contributor
  *      Arime-chan
*@

@page
@using Project24.Pages.CustomerManagement
@model CreateModel
@{
  ViewData["Title"] = "Đăng ký bệnh nhân mới";
  Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
  <div class="col-md-6">
    <form method="post">
      <h4>Đăng ký bệnh nhân mới</h4>
      <hr />
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Data.CustomerCode">Mã bệnh nhân (tự động điền)</label>
        <input asp-for="Data.CustomerCode" class="form-control" value="@ViewBag.NextCustomerCode" readonly />
        <span asp-validation-for="Data.CustomerCode" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Data.FullName">Họ và Tên bệnh nhân</label>
        <input asp-for="Data.FullName" class="form-control" />
        <span asp-validation-for="Data.FullName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Data.Address">Địa chỉ</label>
        <textarea asp-for="Data.Address" class="form-control" text-wrap="normal" rows="5"></textarea>
        <span asp-validation-for="Data.Address" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Data.PhoneNumber">Số điện thoại</label>
        <input asp-for="Data.PhoneNumber" class="form-control" />
        <span asp-validation-for="Data.PhoneNumber" class="text-danger"></span>
      </div>

      <hr />
      <div class="form-group">
        <label asp-for="Data.ManagerPassword">Xác nhận Mật khẩu người quản lý</label>
        <input asp-for="Data.ManagerPassword" class="form-control" />
        <span asp-validation-for="Data.ManagerPassword" class="text-danger"></span>
      </div>

      <button type="submit" class="btn btn-primary">Thêm tài khoản</button>
      <button type="button" onclick="location.href='./Index'" class="btn btn-secondary">Hủy bỏ</button>

      @Html.AntiForgeryToken()
    </form>
  </div>

</div>

@section Scripts {
<script src="~/js/userManager-addUser.js"></script>
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
