@*  Identity/Account/Manage/_Layout.cshtml
    *  Version: 1.1 (2022.12.11)
    *
    *  Contributor
    *      Arime-chan
*@

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "_Layout";
    }
}

<h2>Thông tin tài khoản</h2>
<hr />

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>

        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
