@*  Areas/Identity/Pages/Manage/_Layout.cshtml
 *  Version: v1.1 (2023.12.24)
 *  Spec:    v0.1
 *
 *  Contributor
 *      The .NET Foundation (Author)
 *      Arime-chan
*@

@{
    string parentLayout = ViewData["ParentLayout"] as string;
    if (string.IsNullOrWhiteSpace(parentLayout))
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
    else
    {
        Layout = parentLayout.ToString();
    }
}

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>

        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
