@*  Identity/Account/Manage/_ManageNav.cshtml
    *  Version: 1.1 (2022.12.11)
    *
    *  Contributor
    *      Arime-chan
*@

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Tổng quan</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Đổi mật khẩu</a></li>
</ul>
