@*  Areas/Identity/Pages/Account/Manage/ChangePassword.cshtml
 *  Version: v1.1 (2023.12.24)
 *  Spec:    v0.1
 *
 *  Contributor
 *      The .NET Foundation (Author)
 *      Arime-chan
*@

@page

@model ChangePasswordModel
@{
    ViewData[ViewDataKeys.Title] = m_LocalizationSvc[LOCL.PAGE_IDENTITY_ACC_MANAGE_CHANGE_PASS];
    ViewData[ViewDataKeys.NavActive] = LOCL.PAGE_IDENTITY_ACC_MANAGE_CHANGE_PASS;

    string classFormInput = "form-floating my-1";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="@classFormInput">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" placeholder="" aria-required="true" />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <br />

            <div class="@classFormInput">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="" aria-required="true" />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="@classFormInput">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@MiscUtils.HtmlDisplay(m_LocalizationSvc[LOCL.BTN_SAVE])</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
