@*  Areas/Identity/Pages/Account/Manage/TwoFactorAuthentication.cshtml
 *  Version: v1.1 (2023.12.24)
 *  Spec:    v0.1
 *
 *  Contributor
 *      The .NET Foundation (Author)
 *      Arime-chan
*@

@page

@model IndexModel
@{
    ViewData[ViewDataKeys.Title] = m_LocalizationSvc[LOCL.PAGE_IDENTITY_ACC_MANAGE_INDEX];
    ViewData[ViewDataKeys.NavActive] = LOCL.PAGE_IDENTITY_ACC_MANAGE_INDEX;

    string classFormInput = "form-floating my-1";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="@classFormInput">
                <input asp-for="Username" class="form-control" placeholder="" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
@*             <div class="@classFormInput">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div> *@
            <hr />

            <div class="fs-4">Access: @Model.AccessCount</div>

            @* <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button> *@
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
