@*  Home/Account/List.cshtml
 *  Version: v1.2 (2024.01.02)
 *  Spec:    v0.1
 *
 *  Contributor
 *      Arime-chan (Author)
*@

@page

@model Project24.Pages.Home.Account.ListModel
@{
    Layout = P24PageLayout.CommonLayout;
    ViewData[ViewDataKeys.Title] = m_LocalizationSvc[LOCL.PAGE_HOME_ACCOUNT_LIST];
}

<div>
    <a asp-page="Create" class="btn btn-primary">Create New Account</a>
</div>
<hr />

<div>
    <div class="d-flex flex-nowrap">
        <div id="tr0" class="" style="">ID</div>
        <div id="tr1" class="" style="">Username</div>
        <div id="tr2" class="" style="">Access</div>
        <div id="tr3" class="" style="">Joined</div>
        <div id="tr4" class="" style="">Left</div>
    </div>

    <div id="div-user-list"></div>




</div>

@*@Html.AntiForgeryToken()*@

<partial name="Shared/Modal/_ModalCommon" />


@section Scripts {
    <script type="text/javascript" src="~/js/modals.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/home/account/list.js" asp-append-version="true"></script>
}
