@*  _ReleaseNote.cshtml
    *  Version: 1.0 (2022.11.13)
    *
    *  Contributor
    *      Arime-chan
*@

@model Microsoft.AspNetCore.Html.HtmlString
@{
    ViewData["Title"] = "Release Note";
    Layout = "_Layout";
}

<h2>Release Note</h2>
<hr class="border-primary" />

@Model
