@*  About.cshtml
    *  Version: 1.0 (2022.10.15)
    *
    *  Contributor
    *      Arime-chan
*@

@page
@model Project24.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "_HomeLayout";
}

<div id="about-p24">
    <h2>About Project24</h2>
    <hr />

    <p>
        This is <b>Project24</b> (or more precisely, <b>Project24b</b>), a web application that I made out of free time
        while waiting for the 2023 Monbukagakusho (MEXT) scholarship's Secondary Screening result.
    </p>
    <p>
        The project started out on 31 August 2022 as "<i>Project24</i>", after I had enough with how my father manage his
        clinic. In 4 weeks after that, many planned features had been scrapped (due to my lack of skill in this field)
        but a big feature was added (despite my lack of skill). On 3rd October I decided to change the project to be
        <i>my</i> NAS manager and demote my father's clinic manager to be a "feature", renaming the project to be "<i>Project24b</i>".
    </p>
    <p>
        If you landed on this About page, you must have been <i>my father</i>, <i>my mother</i>, <i>my brother</i>,
        one of my approved-NAS-user, or you just happened to land here through Google Search. Regardless of who you are,
        I hope you find our resource useful and have a good time here.
    </p>
    <br />
    <p>
        If you encounter any bug, please send a <i>Bug Report</i> ticket using the planned link below, or open an
        <a href="https://github.com/3x3y3z3t/Project24/issues">issue</a>.
        <br />
        If you just want to send feedback, or request something, please send a <i>Feedback/Request</i> ticket using the
        planned link below (feature request and resource request all accepted).
    </p>
    <p>
        This project is open-source under the <b>GPL v3 license</b>. You will be able to access the source code
        <b><a href="https://github.com/3x3y3z3t/Project24">here</a></b>.
    </p>
    <p>
        Current version: <b>@Model.CurrentVersion</b> (<a href="#release-note">Release Note</a>)
    </p>

</div>
<br />

<div id="about-us">
    <h2>About us</h2>
    <hr />

    <div class="d-flex flex-wrap">
        <div class="d-flex flex-wrap col-12 col-md-6 col-lg-6 mb-5">
            <div class="flex-column w-25">
                <figure class="figure m-2">
                    <img src="~/img/avt_0.png" class="figure-img img-fluid rounded-circle" style="max-block-size: 128px;" />
                </figure>
                <h5 class="font-weight-bold text-primary mb-2 ml-2">hnt.exw</h5>
                <div>
                    <svg class="" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0
                        0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8
                        7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z" />
                    </svg>
                    <a href="mailto:hnt.exw@gmail.com" target="_blank" class="text-break"
                       style="color: inherit;">hnt.exw@gmail.com</a>
                </div>
            </div>
            <div class="w-75 text-break" style="min-width: 128px;">
                <h6>Project Lead, Project Manager, Design, QA</h6>
                <h6>System Administrator</h6>
                <br />
                <p>Software Engineering Dept. transfered Japanese Language Studies Dept. FPT University graduated student (2021).</p>
                <p>
                    As a lazy person (self-admitted), I like to create things that make my life easier.
                    I also often collect stuffs for preservation, mostly data and information.
                </p>
            </div>
        </div>

        <div class="d-flex flex-wrap col-12 col-md-6 col-lg-6 mb-5">
            <div class="flex-column w-25">
                <figure class="figure m-2">
                    <img src="~/img/avt_0.jpg" class="figure-img img-fluid rounded-circle" style="max-block-size: 128px;" />
                </figure>
                <h5 class="font-weight-bold text-primary mb-2 ml-2">Arime-chan</h5>
                <div>
                    <svg class="" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0
                        0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8
                        7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z" />
                    </svg>
                    <a href="mailto:recette.lemongrass95@gmail.com" target="_blank" class="text-break"
                       style="color: inherit;">recette.lemongrass95@gmail.com</a>
                </div>
                <div>
                    <svg viewBox="0 0 16 16" version="1.1" width="16" height="16" data-view-component="true" aria-hidden="true" class="">
                        <title>Github</title>
                        <path fill-rule="evenodd"
                              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38
                              0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01
                              1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95
                              0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27
                              1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65
                              3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                    </svg>
                    <a href="https://github.com/3x3y3z3t" target="_blank" class="text-break"
                       style="color: inherit;">3x3y3z3t</a>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.5 222.3" width="17" height="16" role="img" aria-labelledby="j6zlia3w6kazysijrxs169w0a37lorn">
                        <title>Twitter</title>
                        <path fil0l="currentColor"
                              d="M273.5 26.3a109.77 109.77 0 0 1-32.2 8.8 56.07 56.07 0 0 0 24.7-31 113.39 113.39 0 0 1-35.7 13.6 56.1
                              56.1 0 0 0-97 38.4 54 54 0 0 0 1.5 12.8A159.68 159.68 0 0 1 19.1 10.3a56.12 56.12 0 0 0 17.4 74.9 56.06 56.06
                              0 0 1-25.4-7v.7a56.11 56.11 0 0 0 45 55 55.65 55.65 0 0 1-14.8 2 62.39 62.39 0 0 1-10.6-1 56.24 56.24 0 0 0 52.4
                              39 112.87 112.87 0 0 1-69.7 24 119 119 0 0 1-13.4-.8 158.83 158.83 0 0 0 86 25.2c103.2 0 159.6-85.5 159.6-159.6
                              0-2.4-.1-4.9-.2-7.3a114.25 114.25 0 0 0 28.1-29.1" />
                    </svg>
                    <a href="https://twitter.com/9Dxa8JDIdSgmtm0" target="_blank" class="text-break"
                       style="color: inherit;">@@9Dxa8JDIdSgmtm0</a>
                </div>
            </div>
            <div class="w-75 text-break" style="min-width: 128px;">
                <h6>Programmer, Tester</h6>
                <br />
                <p>I'm a gamer. On my way creating my own game because no game has satisfied me. Currently at the engine level.</p>
                <p>What'll happen when I'm done playing my own game you ask? Maybe I'll quit being gamer.</p>
            </div>
        </div>
    </div>

</div>
<br />

<div>
    <h2>Update</h2>
    <hr />

    (Update Not available)

</div>
<br />

<div id="release-note">
    <h2>Release Note</h2>
    <hr />
    @Model.ChangelogContentAsHtmlString
</div>

