@*  Index.cshtml
    *  Version: 1.1 (2022.11.13)
    *
    *  Contributor
    *      Arime-chan
*@

@page

@model Project24.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="text-center">

    <div class="d-flex justify-content-center mx-auto">
        <a href="./ClinicManager" class="btn btn-primary m-2" style="min-width: 200px">
            <div style="font-size: larger;">Clinic Manager</div>
            <div style="font-size: small;">(Project24)</div>
        </a>

        <a href="./Nas" class="btn btn-primary m-2" style="min-width: 200px">
            <div style="font-size: larger;">NAS</div>
            <div style="font-size: small;">(Project24b)</div>
        </a>
    </div>

</div>
