@*  Index.cshtml
  *  Version: 1.1 (2022.09.22)
  *
  *  Contributor
  *      Arime-chan
*@

@page

@model Project24.Pages.Home.IndexModel
@{
  ViewData["Title"] = "Index";
  Layout = "_HomeLayout";
}

<div class="text-center">


  <div class="alert-danger">Có lỗi!</div>




</div>


@*

  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Project24</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  </head>
  <body>
  <header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container">
  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project24</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
  <partial name="_LoginPartial" />
  <ul class="navbar-nav flex-grow-1">
  </ul>
  </div>
  </div>
  </nav>
  </header>
  <div class="container">
  <main role="main" class="pb-3">

  <div class="app-title">
  <br />
  <h1>PHẦN MỀM QUẢN LÝ PHÒNG KHÁM</h1>
  <h3>PK Số 7 Văn Cao (Ví dụ)</h3>
  <br />
  <hr />
  </div>

  <br />


  @RenderBody()
  </main>
  </div>

  <footer class="border-top footer text-muted">
  <div class="container">
  &copy; 2022 - Project24 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
  </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
  </body>
  </html>

*@
