@*  Areas/Identity/Pages/Account/AccessDenied.cshtml
 *  Version: v1.1 (2023.10.29)
 *
 *  Contributor
 *      Arime-chan
*@

@page

@model AccessDeniedModel
@{
    ViewData[ViewDataKeys.Title] = m_LocalizationSvc[LOCL.PAGE_IDENTITY_ACC_ACCESS_DENIED];
}

<div>
    <p class="fs-3 text-danger">@m_LocalizationSvc[LOCL.DESC_IDENTITY_ACCOUNT_ACCESS_DENIED]</p>
</div>

<a href="@Model.ReturnUrl">Back to Previous Page</a>
<br />

<a asp-page="/Index">Back to Home</a>
