@*  Identity/Account/ConfirmEmailChange.cshtml
    *  Version: 1.0 (2022.12.11)
    *
    *  Contributor
    *      Arime-chan
*@

@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />