@*  Identity/Account/ConfirmEmail.cshtml
    *  Version: 1.0 (2022.12.11)
    *
    *  Contributor
    *      Arime-chan
*@

@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>