@*  Areas/Identity/Pages/Account/ForgotPasswordConfirmation.cshtml
 *  Version: v1.0 (2023.10.08)
 *
 *  Contributor
 *      Arime-chan
*@

@page

@model ForgotPasswordConfirmationModel
@{
    ViewData[ViewDataKeys.Title] = m_LocalizationSvc[LOCL.PAGE_IDENTITY_ACC_FORGOT_PASS];
}

<p>
    Please check your email to reset your password.
</p>
