@*  Identity/Account/ForgotPasswordConfirmation.cshtml
    *  Version: 1.0 (2022.12.11)
    *
    *  Contributor
    *      Arime-chan
*@

@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

