@*  Areas/Identity/Pages/Account/Lockout.cshtml
 *  Version: v1.0 (2023.10.08)
 *
 *  Contributor
 *      Arime-chan
*@

@page

@model LockoutModel
@{
    ViewData[ViewDataKeys.Title] = m_LocalizationSvc[LOCL.PAGE_IDENTITY_ACC_LOCKOUT];
}

<div>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</div>
