@*  Identity/Account/Login.cshtml
    *  Version: 1.1 (2022.12.11)
    *
    *  Contributor
    *      Arime-chan
*@

@page
@using Project24
@model Project24.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
    ViewData[CustomInfoKey.DisableUserInfo] = true;
}

<div class="d-flex align-items-center justify-content-center">
    <div style="max-width: 1366px">

        <h1>@ViewData["Title"]</h1>
        <div class="font-weight-normal" style="font-size: large">
            Nếu bạn chưa có tài khoản, vui lòng liên hệ với quản lý.
        </div>
        <hr />

        <br />

        <partial name="/Pages/Shared/_StatusMessage.cshtml" model="@Model.StatusMessage" />

        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="FormData.Username" class="col-lg-3 align-bottom">Tên đăng nhập</label>
                <input asp-for="FormData.Username" class="col-lg-7 form-control" />
                <span asp-validation-for="FormData.Username" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="FormData.Password" class="col-lg-3 align-bottom">Mật khẩu</label>
                <input asp-for="FormData.Password" class="col-lg-7 form-control" />
                <span asp-validation-for="FormData.Password" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-lg-3"></div>
                <div class="checkbox col-lg-7">
                    <label asp-for="FormData.RememberLogin">
                        <input asp-for="FormData.RememberLogin" />
                        Lưu phiên đăng nhập
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-3"></div>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </div>

            <div class="form-group row">
                <div class="col-lg-3"></div>
                @* 
                <a asp-page="./ForgotPassword" id="forgot-password">Quên mật khẩu?</>
                *@
            </div>

        </form>

    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
