@*  Areas/Identity/Pages/Account/RegisterConfirmation.cshtml
 *  Version: v1.0 (2023.10.08)
 *
 *  Contributor
 *      Arime-chan
*@

@page

@model RegisterConfirmationModel
@{
    ViewData[ViewDataKeys.Title] = m_LocalizationSvc[LOCL.PAGE_IDENTITY_ACC_REGISTER_CONFIRM];
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
