@*  Identity/Account/ResetPasswordConfirmation.cshtml
    *  Version: 1.0 (2022.12.11)
    *
    *  Contributor
    *      Arime-chan
*@

@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
