@*  _CMFooter.cshtml
    *  Version: 1.1 (2022.10.14)
    *
    *  Contributor
    *      Arime-chan
*@

<footer class="border-top footer text-muted">

    <div class="container d-flex">
        <div class="mr-2">
            &copy; 2022 - Project24
        </div>
        <div class="mx-2">
            <a asp-page="/Home/Privacy">Privacy</a>
        </div>
        <div class="mx-2">
            <a asp-page="/Home/About">About</a>
        </div>
    </div>

</footer>
