@*  CurrentUserInfo.cshtml
  *  Version: 1.0 (2022.09.07)
  *
  *  Contributor
  *      Arime-chan
*@

@using Project24
@using Microsoft.AspNetCore.Identity
@using Project24.Identity
@inject SignInManager<P24IdentityUser> SignInManager
@inject UserManager<P24IdentityUser> UserManager

<p>
  @if (SignInManager.IsSignedIn(User))
  {
    P24IdentityUser p24user = await UserManager.GetUserAsync(User);
    string welcomeString = "";

    if (User.IsInRole(Constants.ROLE_POWER))
      welcomeString = Constants.ROLE_POWER_LOCALIZED;
    else
    {
      if (User.IsInRole(Constants.ROLE_ADMIN))
        welcomeString = Constants.ROLE_ADMIN_LOCALIZED;
      else if (User.IsInRole(Constants.ROLE_EMPLOYEE))
        welcomeString = Constants.ROLE_EMPLOYEE_LOCALIZED;
      else if (User.IsInRole(Constants.ROLE_USER))
        welcomeString = Constants.ROLE_USER_LOCALIZED;

      welcomeString += " " + p24user.LastName;
    }

    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"><span style="font-weight:bold">@welcomeString</span></a>
    @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span style="font-weight:bold">@welcomeString</span>!</a>*@
  }
  else
  {
    <p><span style="font-weight:bold">Khách tự do</span></p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><span style="font-weight:bold">Click để đăng nhập</span></a>
  }
</p>
