
@using Microsoft.AspNetCore.Identity
@using Project24.Identity
@inject SignInManager<P24IdentityUser> SignInManager
@inject UserManager<P24IdentityUser> UserManager

<ul class="navbar-nav">
  @if (SignInManager.IsSignedIn(User))
  {
    P24IdentityUser p24user = await UserManager.GetUserAsync(User);
    string welcomeString = "";

    if (User.IsInRole(Constants.ROLE_POWER))
      welcomeString = Constants.ROLE_POWER_LOCALIZED;
    else
    {
      if (User.IsInRole(Constants.ROLE_ADMIN))
        welcomeString = Constants.ROLE_ADMIN_LOCALIZED;
      else if (User.IsInRole(Constants.ROLE_EMPLOYEE))
        welcomeString = Constants.ROLE_EMPLOYEE_LOCALIZED;
      else if (User.IsInRole(Constants.ROLE_USER))
        welcomeString = Constants.ROLE_USER_LOCALIZED;

      welcomeString += " " + p24user.LastName;
    }

    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xin chào, <span style="font-weight:bold">@welcomeString</span>!</a>
    </li>
    <li class="nav-item">
      <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
      </form>
    </li>
  }
  else
  {
    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register (Debug only!)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
    </li>
  }
</ul>
