@*  Index.cshtml.cs
  *  Version: 1.2 (2022.09.11)
  *
  *  Contributor
  *      Arime-chan
*@

@page

@using Project24.Identity
@using Project24.Areas.Dashboard.Pages
@model IndexModel

@{
  ViewData["Title"] = "Dashboard";
  Layout = "_Layout";
}

<div class="text-center">
  <div class="app-title">
    <br />
    <h1>PHẦN MỀM QUẢN LÝ PHÒNG KHÁM</h1>
    <h3>PK Số 7 Văn Cao (Ví dụ)</h3>
    <hr />
  </div>
  <br />

  <div class="app-title">
    <h2>Bảng điều khiển</h2>
  </div>
  <br />

  <form method="get">
    <button type="submit" asp-area="VisitingManagement" asp-page="Index" class="btn btn-primary">Quản lý phiếu khám bệnh</button>
  </form>

  <form>
    <button type="submit" asp-area="CustomerManagement" asp-page="Index" class="btn btn-primary">Quản lý bệnh nhân</button>
    <button type="submit" asp-area="ServiceManagement" asp-page="Index" class="btn btn-primary">Quản lý dịch vụ</button>
    @{
      string btnLabel = "";
      if (User.IsInRole(Constants.ROLE_MANAGER))            
      {
        btnLabel = "Quản lý nhân viên";
      }
      else
      {
        btnLabel = "Danh sách nhân viên";
      }
      <button type="submit" asp-area="UserManagement" asp-page="Index" class="btn btn-primary">@btnLabel</button>
    }
  </form>

  

  <br />
  <hr />
  <div>Bạn đang đăng nhập với tư cách</div>
  <partial name="_CurrentUserInfo" />
  <hr />


</div>









