@*  _Footer.cshtml
  *  Version: 1.0 (2022.09.06)
  *
  *  Contributor
  *      Arime-chan
*@

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2022 - Project24 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
  </div>
</footer>
