@*  _NasBrowser.cshtml
    *  Version: 1.7 (2022.12.24)
    *
    *  Contributor
    *      Arime-chan
*@

@using Project24.App
@using Project24.Models.Nas
@model NasBrowserViewModel
@{
    NasStatDisplayModel nasStatModel = new NasStatDisplayModel() { Name = "Main", Data = DriveUtils.NasDriveUtils };
    NasStatDisplayModel appStatModel = new NasStatDisplayModel() { Name = "Cache", Data = DriveUtils.AppDriveUtils };
}


<div class="d-flex flex-column text-center mh-100">

    <div class="d-flex flex-wrap">
        <partial name="_NasStatsDisplay" model="@nasStatModel" />
        <partial name="_NasStatsDisplay" model="@appStatModel" />
        <hr />
    </div>

    <partial name="_NasBrowser_Nav" model="@Model" />
    <partial name="_NasBrowser_List" model="@Model" />

</div>

<!-- Modal -->
<div id="modal-browsing" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-browsing-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Loading</h5>
            </div>
            <div class="modal-body">
                Browsing to <b><span id="modal-browsing-path"></span></b>...
            </div>
        </div>
    </div>
</div>
