@*  Index.cshtml
    *  Version: 1.4 (2022.12.25)
    *
    *  Contributor
    *      Arime-chan
*@

@page "{*_path}"

@model Project24.Pages.Nas.IndexModel
@{
    ViewData["Title"] = "Nas Browser";
    Layout = "_NoScrollLayout";
}

<div class="container h-100">
    <partial name="_NasBrowser" model="@Model.Data" />
</div>

@section Scripts {
    <script src="~/js/nas/nas-index.js"></script>
}
