@*  Index.cshtml
    *  Version: 1.5 (2023.01.30)
    *
    *  Contributor
    *      Arime-chan
*@

@page "{*_path}"

@model Project24.Pages.Nas.IndexModel
@{
    ViewData["Title"] = "Nas Browser";
    Layout = "_NoScrollLayout";
}

<div class="container h-100">
    <partial name="_NasBrowser" model="@Model.Data" />
</div>

@section Stylesheets {
    <link rel="stylesheet" href="~/css/nas/nas.css" />
}

@section Scripts {
    <script src="~/js/nas/nas-index.js"></script>
}
