@*  Upload.cshtml
    *  Version: 1.0 (2022.10.16)
    *
    *  Contributor
    *      Arime-chan
*@

@page

@model Project24.Pages.Nas.UploadModel

@{
    ViewData["Title"] = "Upload";
    Layout = "_HomeLayout";
}

NAS Upload


<div class="mb-2">
    <div class="mb-2">
        <span id="progress-status"> </span>
        <span id="progress-status-2" class="text-danger" style="display: inline;">(Paused)</span>
        <div id="progress-bar-wrapper" class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                 role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <button type="button" id="button-pause" class="btn btn-danger">Pause</button>
    <button type="button" id="button-resume" class="btn btn-info">Resume</button>
</div>

<form id="upload-form">
    <label>File:</label>
    <input type="file" id="input-file" name="file" />
    <br />

    <button type="button" id="button-upload" class="btn btn-success" onclick="startUpload();">Upload</button>
</form>


@section Scripts {
<script src="~/js/nas-upload.js"></script>
<script src="~/lib/tus-js-client/tus.js"></script>
}
