@*  Upload.cshtml
    *  Version: 1.11 (2023.01.17)
    *
    *  Contributor
    *      Arime-chan
*@

@page

@model Project24.Pages.Nas.UploadModel
@{
    ViewData["Title"] = "Upload";
    ViewData[CustomInfoKey.UseFullWidth] = "true";

    Layout = "_NoScrollLayout";
}

<div class="d-flex flex-nowrap h-100">

    <div id="nas-browser" class="d-flex flex-column col-12 col-lg-6 col-xl-6 px-3 border-left mh-100">
        <partial name="_NasBrowser" model="@Model.Data" />

        @Html.AntiForgeryToken()
    </div>

    <div class="d-flex flex-column col-12 col-lg-6 col-xl-6 px-3 border-left border-primary mh-100" style="border-left-width: thick;">
        <div>
            <h4>NAS Upload</h4>
            <hr />
        </div>

        <div class="">
            <div>Upload location: <span id="upload-location" class="font-italic" onmouseover="underlineMe(this)" onmouseout="normalizeMe(this)">root/</span></div>
            <p>Uploading: <span id="current-file-name" class="font-weight-bold">None</span></p>

            <div class="mb-2">
                <span id="current-progress-info">Current: None</span>
                <span id="current-progress-info-status" class="text-danger" hidden>(Paused)</span>

                <div id="current-progress-bar-wrapper" class="progress">
                    <div id="current-accepted-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="transition-duration: 0.1s;"
                         role="progressbar"></div>
                    <div id="current-uploaded-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="transition-duration: 0.1s;"
                         role="progressbar"></div>
                </div>
            </div>

            <div class="mb-2">
                <span id="total-progress-info">Total: None</span>
                <span id="total-progress-info-status" class="text-danger" hidden>(Paused)</span>

                <div id="total-progress-bar-wrapper" class="progress">
                    <div id="total-accepted-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="transition-duration: 0.1s;"
                         role="progressbar"></div>
                    <div id="total-uploaded-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="transition-duration: 0.1s;"
                         role="progressbar"></div>
                </div>
            </div>

            <div class="my-3">
                <button type="button" id="btn-pause" class="btn btn-danger" onclick="btn_pause(this)" disabled>Pause</button>
                <button type="button" id="btn-resume" class="btn btn-info" onclick="btn_resume(this)" disabled>Resume</button>
            </div>
            <hr />
        </div>

        <div>
            <div id="upload-elapsed-time">Elapsed time: 00:00:00</div>
            <div id="upload-remaining-time">Remaining time: 00:00:00 (0 B/s)</div>
            <hr />
        </div>

        <div>
            <div class="d-flex">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" id="btn-upload-mode" class="btn btn-outline-secondary" onclick="btn_uploadMode()">
                            Files
                        </button>
                    </div>

                    <div id="div-input-files" class="flex-grow-1 position-relative">
                        <label for="input-files" id="lbl-input-files" class="form-control position-absolute">Select or drop files here</label>

                        <input type="file" id="input-files" name="input-files" class="form-control position-absolute" style="opacity:0" onchange="input_files_changed(this)" multiple />
                        <input type="file" id="input-files-folder" class="form-control position-absolute" style="opacity:0" onchange="input_files_changed(this)" webkitdirectory hidden />
                    </div>
                </div>

                <button type="button" id="btn-upload" class="btn btn-outline-success mx-2" onclick="btn_upload(this)" disabled>Upload</button>
            </div>
            <hr />
        </div>

        <div id="files-list" class="overflow-auto mh-100">
        </div>
    </div>

</div>

<partial name="_Upload_Modal" />

<partial name="_Modals/_CommonInfoModal" />
<partial name="_Modals/_CommonConfirmModal" />
<partial name="_Modals/_NamingRules" />

@section Stylesheets {
    <link rel="stylesheet" href="~/css/nas/nas.css" />
}

@section Scripts {
    <script src="~/js/modal/modal.js"></script>
    <script src="~/js/nas/nas-upload.js"></script>
    <script src="~/js/nas/nas-upload-tus-uploader.js"></script>
    <script src="~/js/nas/nas-upload-uploader.js"></script>

    <script src="~/lib/tus-js-client/tus.min.js"></script>
}
