@*  P24/Inventory/Import/Create.cshtml
    *  Version: 1.2 (2023.01.07)
    *
    *  Contributor
    *      Arime-chan
*@

@page

@model Project24.Pages.ClinicManager.Inventory.Import.CreateModel
@{
    ViewData["Title"] = "Nhập kho";
    Layout = "_Layout";

    string colClasses = "col-12 col-lg-7 col-xl-6";
}

<h1>@ViewData["Title"]</h1>
<a asp-page="../List">Trở về danh sách</a>
<!--partial name="_StatusMessage" model="Model.StatusMessage" /-->
<hr />

<partial name="ClinicManager/Inventory/_CommonCreateAddList" model="colClasses" />

<partial name="_Modals/_CommonInfoModal" />

@section Scripts {
    <script src="~/js/site.js"></script>
    <script src="~/js/clinic-manager/inventory-import-create.js"></script>
    <script src="~/js/modal/modal.js"></script>
}
