@*  P24/Inventory/_CommonCreateAddList.cshtml
    *  Version: 1.1 (2023.02.12)
    *
    *  Contributor
    *      Arime-chan
*@

@model string
@{

}

<div class="@Model">
    <div>
        <div class="row">
            <div class="form-group col-7 col-sm-8 mb-1">
                <label for="input-name" class="control-label">Tên thuốc</label>
                <input id="input-name" name="input-name" class="form-control" list="datalist-all-names" placeholder="Nhập tên thuốc để tìm kiếm.." oninput="inputName_onInput()" />
            </div>
            <div class="form-group col-5 col-sm-4 mb-1">
                <label for="input-amount" class="control-label">Số lượng</label>
                <div class="input-group">
                    <input id="input-amount" class="form-control px-2" type="number" min="0" />
                    <input id="input-unit" class="form-control px-2" list="datalist-all-units" style="width:6ch" />
                </div>
            </div>
        </div>
        <div id="div-stock-info" class="my-1"></div>
        <div id="div-validation-msg" class="text-danger ml-3 mb-1">
            <ul id="ul-validation-msg"></ul>
        </div>

        <button id="btn-add" type="button" class="btn btn-primary mt-2" onclick="btnAdd()" disabled>Thêm vào danh sách</button>
        <hr />

        <datalist id="datalist-all-names">
        </datalist>

        <datalist id="datalist-all-units">
        </datalist>
    </div>

    <table class="table table-sm table table-hover" style="table-layout:fixed">
        <thead>
            <tr>
                <th style="width:5ch">STT</th>
                <th>Tên thuốc</th>
                <th style="width:9ch">Số lượng</th>
                <th style="width:7ch">Đơn vị</th>
                <th style="width:4ch"></th>
            </tr>
        </thead>

        <tbody id="tbody-added-list">
        </tbody>
    </table>

    <div class="mb-3">
        <br />

        @Html.AntiForgeryToken()
        <button id="btn-finish" class="btn btn-primary" type="button" onclick="btnFinish()" disabled>Hoàn tất</button>

        @if ((bool)ViewData["IsExport"])
        {
            <button id="btn-create-blank" class="btn btn-secondary" type="button" onclick="btnCreateBlank_onClick()">Tạo phiếu trắng</button>
        }
        <hr />
    </div>
</div>
