@*  _ModalCommon.cshtml
 *  Version: v1.3 (2023.12.28)
 *  Spec:    v0.1
 *
 *  Contributor
 *      Arime-chan (Author)
*@

@* Adding data-bs-backdrop="static" attribute makes modal don't close when clicking outside. *@

<div id="modal-common" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">

            <div id="modal-common-header" class="modal-header">
            </div>

            <div id="modal-common-body" class="modal-body d-flex">
            </div>

            <div id="modal-common-footer" class="modal-footer">
            </div>

        </div>
    </div>
</div>
