@*  _FooterCommon.cshtml
 *  Version: v1.1 (2023.06.17)
 *
 *  Contributor
 *      Arime-chan
 *@

<div class="container">
    &copy; 2022 - 2023 Arime-chan - Project24 - <a asp-page="/Home/About">About</a>
</div>
