@*  _Footer.cshtml
    *  Version: 1.0 (2022.10.19)
    *
    *  Contributor
    *      Arime-chan
*@

<footer class="border-top footer text-muted">

    <div class="container d-flex">
        <div class="mr-2">
            &copy; 2022 ExWorkshop - Project24
        </div>

        <div class="mx-2">
            <a asp-page="/Home/About">About</a>
        </div>

        <div class="mx-2">
            <a asp-page="/Home/About">@Utils.CurrentVersion</a>
        </div>

        <div class="vr"></div>

        @if (false)
        {
            <div class="ml-auto mr-2">
                <a asp-page="/Home/Feedback">Feedback/Request</a>
            </div>

            <div class="mx-2">
                <a asp-page="/Home/BugReport">Bug Report</a>
            </div>
        }
    </div>

</footer>
