@*  _FooterCommon.cshtml
 *  Version: v1.0.0 (2023.03.11)
 *
 *  Contributor
 *      Arime-chan
 *@

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - 2023 Arime-chan - Project24 - <a asp-page="/Home/About">About</a>
    </div>
</footer>
