@*  _Header.cshtml
    *  Version: 1.4 (2022.12.11)
    *
    *  Contributor
    *      Arime-chan
*@

@using Microsoft.AspNetCore.Identity
@using Project24.Models.Identity
@inject UserManager<P24IdentityUser> _userManager

@{
    bool isManager = false;
    bool isNasUser = false;

    if (User.Identity.IsAuthenticated)
    {
        P24IdentityUser user = await _userManager.GetUserAsync(User);
        if (user != null)
        {
            isManager = await _userManager.IsInRoleAsync(user, P24RoleName.Manager);
            isNasUser = await _userManager.IsInRoleAsync(user, P24RoleName.NasUser);
        }
    }
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a asp-page="Index" class="navbar-brand font-weight-bold">P24</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                <partial name="_LoginPartial" />

                <ul class="navbar-nav flex-grow-1">
                    @if (isManager)
                    {
                        <li class="nav-item"><a asp-page="/ClinicManager/Customer/List" class="nav-link text-dark">Bệnh nhân</a></li>
                        <li class="nav-item"><a asp-page="/ClinicManager/Ticket/List" class="nav-link text-dark">Phiếu khám</a></li>
                    }
                    @if (isNasUser)
                    {
                        <li class="nav-item"><a asp-page="/Nas/Index" class="nav-link text-dark">NAS</a></li>
                    }
                </ul>
            </div>

        </div>
    </nav>
</header>
