@*  _NoScrollLayout.cshtml
 *  Version: v1.5 (2023.12.28)
 *  Spec:    v0.1
 *
 *  Contributor
 *      Arime-chan (Author)
 *@

@{
    string title = (string)ViewData[ViewDataKeys.Title];
    HtmlString titleHtml = new HtmlString(title);

    string localizationFile = "p24-localization-" + ((string)ViewData[ViewDataKeys.Locale]).ToLower() + ".js";
}

<!DOCTYPE html>
<html lang="en" class="h-100" style="min-height: 100%">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title - Project24</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Stylesheets", required: false)
</head>

<body class="d-flex flex-column flex-nowrap h-100" style="min-height: 100%">
    <partial name="_HeaderCommon" />

    @if (!MiscUtils.IsFlagSet((int)ViewData[ViewDataKeys.Flags], (int)ViewDataFlags.NoAnnouncement))
    {
        <partial name="_ServerAnnouncement" />
    }

    @if (!MiscUtils.IsFlagSet((int)ViewData[ViewDataKeys.Flags], (int)ViewDataFlags.NoTitle))
    {
        <h1>@ViewData[ViewDataKeys.Title]</h1>
        <hr />
    }

    <main role="main" class="container flex-fill w-100 mw-100 px-2" style="min-height: 0">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted" style="position:inherit">
        <partial name="_FooterCommon" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/dotnet.js" asp-append-version="true"></script>
    <script src="~/js/locale/p24-localization-keys.js" asp-append-version="true"></script>
    <script src="~/js/locale/@localizationFile" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/server-announcement.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
