@using Project24.App;
@*  _LayoutCommon.cshtml
 *  Version: v1.0 (2023.03.11)
 *
 *  Contributor
 *      Arime-chan
 *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project24</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project24.styles.css" asp-append-version="true" />
</head>

<body>
    <partial name="_HeaderCommon" />

    <div class="container">
        <main role="main" class="pb-3">
            @if (!Utils.IsFlagSet((int)ViewData[ViewDataKeys.Flags], (int)ViewDataFlags.NoTitle))
            {
                <h1>@ViewData[ViewDataKeys.Title]</h1>
                <hr />
            }

            @if (!Utils.IsFlagSet((int)ViewData[ViewDataKeys.Flags], (int)ViewDataFlags.NoAnnouncement))
            {
                <partial name="_ServerAnnouncement" />
            }

            @RenderBody()
        </main>
    </div>

    <partial name="_FooterCommon" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
