@*  _LayoutCommon.cshtml
 *  Version: v1.4 (2023.09.18)
 *
 *  Author
 *      Arime-chan
 *@

@using Project24.App;
@using Project24.App.Services;

@inject LocalizationSvc m_LocalizationSvc

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project24</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project24.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("Stylesheet", required: false)
</head>

<body>
    <partial name="_HeaderCommon" />

    <div class="container">
        <main role="main" class="pb-3">

            @if (!MiscUtils.IsFlagSet((int)ViewData[ViewDataKeys.Flags], (int)ViewDataFlags.NoAnnouncement))
            {
                <partial name="_ServerAnnouncement" />
            }

            @if (!MiscUtils.IsFlagSet((int)ViewData[ViewDataKeys.Flags], (int)ViewDataFlags.NoTitle))
            {
                <h1>@ViewData[ViewDataKeys.Title]</h1>
                <hr />
            }

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <partial name="_FooterCommon" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/dotnet.js" asp-append-version="true"></script>
    <script src="~/js/locale/p24-localization-keys.js" asp-append-version="true"></script>

    @if (m_LocalizationSvc.CurrentLocale == LocalizationSvc.SupportedLocale.EN_US)
    {
        <script src="~/js/locale/p24-localization-en-us.js" asp-append-version="true"></script>
    }
    else if (m_LocalizationSvc.CurrentLocale == LocalizationSvc.SupportedLocale.JA_JP)
    {
        <script src="~/js/locale/p24-localization-ja-jp.js" asp-append-version="true"></script>
    }
    else if (m_LocalizationSvc.CurrentLocale == LocalizationSvc.SupportedLocale.VI_VN)
    {
        <script src="~/js/locale/p24-localization-vi-vn.js" asp-append-version="true"></script>
    }

    <script src="~/js/svgs.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/js/server-announcement.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
