@*  _NoScrollLayout.cshtml
 *  Version: v1.0 (2023.06.17)
 *
 *  Contributor
 *      Arime-chan
 *@

@using Project24.App;

<!DOCTYPE html>
<html lang="en" class="h-100" style="min-height: 100%">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project24</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project24.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("Stylesheets", required: false)
</head>

<body class="d-flex flex-column flex-nowrap h-100" style="min-height: 100%">
    <partial name="_HeaderCommon" />
    @if (!Utils.IsFlagSet((int)ViewData[ViewDataKeys.Flags], (int)ViewDataFlags.NoTitle))
    {
        <h1>@ViewData[ViewDataKeys.Title]</h1>
        <hr />
    }

    @if (!Utils.IsFlagSet((int)ViewData[ViewDataKeys.Flags], (int)ViewDataFlags.NoAnnouncement))
    {
        <partial name="_ServerAnnouncement" />
    }

    <main role="main" class="container flex-fill w-100 mw-100 px-2" style="min-height: 0">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted" style="position:inherit">
        <partial name="_FooterCommon" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/p24-localization.js" asp-append-version="true"></script>
    <script src="~/js/svgs.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
