@*  _NoScrollLayout.cshtml
    *  Version: 1.0 (2022.11.13)
    *
    *  Contributor
    *      Arime-chan
*@

<!DOCTYPE html>
<html lang="en" class="h-100" style="min-height: 100%;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project24</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="d-flex flex-column flex-nowrap h-100" style="min-height: 100%;">
    <partial name="_Header" />
    <partial name="_ServerAnnouncement" />

    <main role="main" class="flex-fill w-100 mw-100 px-2" style="min-height: 0; @ViewData["ContainerStyleOverride"]">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted" style="position: inherit;">
        <partial name="_FooterCommon" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
