@*  _StatusMessage.cshtml
    *  Version: 1.0 (2022.11.19)
    *
    *  Contributor
    *      Arime-chan
*@

@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMsgClass = "success";
    if (Model.StartsWith(CustomInfoTag.Info))
        statusMsgClass = "primary";
    else if (Model.StartsWith(CustomInfoTag.Warning))
        statusMsgClass = "warning";
    else if (Model.StartsWith(CustomInfoTag.Error))
        statusMsgClass = "danger";

    <div class="alert alert-@statusMsgClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Substring(CustomInfoTag.TagLength)
    </div>
}