@*  P24/Inventory/Export/Details.cshtml
    *  Version: 1.0 (2023.01.07)
    *
    *  Contributor
    *      Arime-chan
*@

@page

@model Project24.Pages.ClinicManager.Inventory.Export.DetailsModel
@{
    ViewData["Title"] = "Chi tiết phiếu xuất kho";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
<a asp-page="/ClinicManager/Inventory/Export/List">Trở về danh sách</a>
<hr />

@if (Model.Batch.AddedUserName == CustomInfoTag.Error)
{
    <div class="font-weight-bold text-danger" style="font-size:larger">@string.Format(P24Message.BatchNotFound, Model.Batch.Id)</div>
}
else
{
    <div class="col-12 col-sm-7">
        <partial name="ClinicManager/Inventory/_CommonBatchDetails" model="Model.Batch" />
    </div>
}

<partial name="_Modals/_CommonInfoModal" />

@section Scripts {
    <script src="~/js/site.js"></script>
    <script src="~/js/clinic-manager/inventory-export-list.js"></script>
    <script src="~/js/modal/modal.js"></script>
}
