@*  P24/Inventory/Export/List.cshtml
    *  Version: 1.0 (2023.01.07)
    *
    *  Contributor
    *      Arime-chan
*@

@page

@model Project24.Pages.ClinicManager.Inventory.Export.ListModel
@{
    ViewData["Title"] = "Danh sách xuất kho";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
<a asp-page="/ClinicManager/Inventory/List">Trở về danh sách chung</a>
<hr />

<div class="" style="font-size: x-large">
    <span>Tổng số: <span class="font-weight-bold">@Model.ExportBatches.Count</span> phiếu xuất</span>
</div>

<div class="d-flex">
    <div class="col-12 col-sm-5">
        <partial name="ClinicManager/Inventory/_CommonBatchList" model="Model.ExportBatches" />
    </div>

    <div id="div-batch-details-view" class="col-12 col-sm-7" hidden></div>

    @Html.AntiForgeryToken()
</div>

<partial name="_Modals/_CommonInfoModal" />

@section Scripts {
    <script src="~/js/site.js"></script>
    <script src="~/js/clinic-manager/inventory-export-list.js"></script>
    <script src="~/js/modal/modal.js"></script>
}
